<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/main.min.css" />

    <!-- at the end of <body> -->
    <script src="~/js/main.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
